# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
busca_tabu_TSP
busca_tabu_mochila
Mochila_Simulated_annealing
TSP_Simulated_annealing
verifica.cpp
resultados_busca_tabu.csv
resultados_busca_tabu_mochila.csv
resultados_busca_tabu_TSP.csv
resultados_tabu_search.csv
test_tabu_mochila.py
TSP_Simulated_Annealing
resultados_simulated_annealing.csv
